<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">

    <listeners>
        <listener class-name="commons.TestListener" />
    </listeners>

    <test name="Run on Chrome">
        <classes>
        	<!-- <class name="testcases.RegisterTestcase"/>
            <class name="testcases.LoginTestcase" /> -->
            <class name="testcases.HomeTestcase"/>
        </classes>
    </test>

</suite>